extends layout

block content
    div(ng-app)
        h1= title
        form
            label Name
                input(type="text")
            label Age
                input(type="text")
            label Comment
                textarea
            input(type="button",value="submit")
                    
block script
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js")